<div class="glossary">
  <h4>Mini Glossary</h4>

  <blockquote>AT</blockquote>
  <p><strong>Assistive Technology</strong><br/> Any piece of hardware, software or system that improves, increases or maintains the functional capapbilities of people with disabilities (e.g. screen reader, glasses)<p>

  <blockquote>ARIA</blockquote>
  <p>Accessible Rich Internet Applications</p>
</div>