<div class="controls" aria-hidden="true">
  <label>
    Highlight
    <input id='highlight' type=color value="#aeeedc"></input>
  </label>
  <label>
    Outline & Shadow
    <input id='outline' type=color value="#21d19f"></input>
  </label>
  <label>
    Text
    <input id='text' type=color value="#158666"></input>
  </label>

  <div class="background background--dotted"><button title="Dotted background" id='dotted'></button></div>
  <div class="background background--striped"><button title="Striped background" id='striped'></button></div>
  <div class="background background--none"><button title="No background" id='none'></button></div>

  <button id='grayscale'>Grayscale</button>
  <button id='random'>Random</button>
  <button id='reset'>Reset</button>
</div>
