<div class="controls" aria-hidden="true">
	<label>
		Highlight
		<input id='highlight' type=color value="#aeeedc"></input>
	</label>
	<label>
		Outline & Shadow
		<input id='outline' type=color value="#21d19f"></input>
	</label>
	<label>
		Text
		<input id='text' type=color value="#158666"></input>
	</label>

	<button id='grayscale'>Grayscale</button>
	<button id='random'>Random</button>
	<button id='reset'>Reset</button>
</div>
