<div class="glossary">
  <h4>Mini Glossary</h4>

  <blockquote>declaration</blockquote>
  <p><code>property: value</code></p>

  <blockquote>declaration block</blockquote>
<pre><code>{
  property: value;
  property: value;
}
</code></pre>

  <blockquote>ruleset</blockquote>
<pre><code>selector {
  property: value;
  property: value;
}</code></pre>
</div>