<div class="links">
	<a href="https://twitter.com/gvonkoss">Tweeting</a>
	<a href="https://medium.com/@frontendium">Writing</a>
	<a href="/speaking">Speaking</a>
	<a href="https://github.com/gvonkoss">Coding</a>
</div>
