<div class="links">
	<a href="https://twitter.com/gvonkoss">Tweeting</a>
	<a href="https://medium.com/@frontendium">Writing</a>
	<a href="https://www.youtube.com/playlist?list=PLAuNQWhmQK-e--Sr_Hq0l1WEALeJuzSrj">Speaking</a>
	<a href="https://github.com/gvonkoss">Coding</a>
</div>
