<div class="links">
	<a href="https://github.com/gvonkoss" data-link-text="Coding">Coding</a>
	<a href="/speaking" data-link-text="Speaking">Speaking</a>
	<a href="https://twitter.com/gvonkoss" data-link-text="Tweeting">Tweeting</a>
	<a href="/writing" data-link-text="Writing">Writing</a>

	{%if glossary %}
		{% include 'components/css-glossary.njk' %}
	{% endif %}
</div>
