<nav class="sidebar" aria-label="List of links" id="nav">
  <ul>
      <li>
      <a class="sidebar__link"
        href="/about"
        data-text="About">
          About
      </a>
    </li>
    <li>
      <a class="sidebar__link"
        href="/speaking"
        data-text="Speaking">
          Speaking
      </a>
    </li>
    <li>
      <a class="sidebar__link"
        href="/writing"
        data-text="Writing">
          Writing
      </a>
    </li>
    <li>
      <a class="sidebar__link"
        href="https://github.com/gvonkoss"
        data-text="Coding"
        target="_blank"
        rel="noopener noreferrer">
          Coding
      </a>
    </li>
  </ul>

  {%if glossary %}
    {% include glossary %}
  {% endif %}
</nav>
