:root {
  --accent: black;
  --grid-square: calc(100vw / 4);
  --border: .4vmin solid var(--accent);
  --background: #fab81e;
}

body,
html {
  margin: 0;
  background: var(--background);
  font-family: 'VT323', monospace;
  font-size: 26px;
  line-height: 1.2;
  height: 100%;
  width: 100%;
}

.pixel-grid {
  display: grid;
  grid-template-columns: var(--grid-square);
  grid-auto-rows: var(--grid-square);
  height: 100%;
  width: 100%;
}

.pixel,
.pixel-icon {
  --pixel-background: orange;
  background-color: var(--pixel-background);
  background-size: 100%;
  background-repeat: no-repeat;
}

.pixel-icon:hover { --pixel-background: var(--background); }

.pixel-me { 
  background-image: url('pixelme-transparent.png');
  grid-area: 1 / 2 / span 2 / span 2;
}

.pixel-me:hover { background-image: url('pixelme-shock.png') }

a { color: inherit; }
a:hover { color: darkorange; }

.pixel-twitter { background-image: url('pixel-twitter-black.png'); }
.pixel-github { background-image: url('pixel-github-black.png'); }
.pixel-youtube { background-image: url('pixel-youtube-black.png'); }
.pixel-medium { background-image: url('pixel-medium-black.png'); }


.pixel { display: none; }

.about-text {
  grid-area: 3 / 1 / auto / span 4;
  margin: 0.5em 0.5em 0 0.5em;
}

p { margin: 0.3em }

@media (min-width: 480px) {
  :root {
    --grid-square: calc(100vw / 6);
  }
  
  .pixel-grid {
    grid-auto-rows: var(--grid-square);
    justify-content: center;
    align-content: center;
    margin-top: 0.5em;
    /* height: 100%;
    width: 100%; */
  }
  
  .pixel-me {
    /* --grid-square: calc(95vw / 3);  */
    grid-area: 1 / 5 / span 2 / span 2;
  }
  
  .pixel-twitter { grid-area: 1 / 1 }
  .pixel-github { grid-area: 2 / 2 }
  .pixel-medium { grid-area: 2 / 4 }
  .pixel-youtube { grid-area: 1 / 3 }
  .about-text { grid-area: 3 / 1 / span 6 / span 6; }
  
}

@media (min-width: 580px) {
  .pixel-me { grid-area: 1 / 1 / span 2 / span 2;}
  .pixel-twitter { grid-area: 3 / 1 }
  .pixel-github { grid-area: 4 / 2 }
  .pixel-youtube { grid-area: 5 / 1 }
  .pixel-medium { grid-area: 6 / 2 }
  .about-text { grid-area: 1 / 3 / auto / span 4; }
}

/* @media (min-width: 680px) {
  .pixel-me { grid-area: 4 / 1 / span 2 / span 2;}
  .pixel-twitter { grid-area: 2 / 2 }
  .pixel-github { grid-area: 3 / 1 }
  .pixel-youtube { grid-area: 6 / 1 }
  .pixel-medium { grid-area: 7/ 2 }
  .pixel-1,
  .pixel-2 { display: block }
  
  .pixel-1 { grid-area: 1 / 1 }
  .pixel-2 { grid-area: 7 / 4 }
} */
