---
layout: layouts/base.njk
heading: Speaking
---
<ul class="speaking-list">
	<li class="list-item">
		<a href="/speaking/js-conf-eu-2018">When you assume, you make an error out of you and me</a>
		<span>JSConf.EU 2018 — English</span>
	</li>
	<li class="list-item">
		<a href="/speaking/js-conf-co-2018">El error en dar un error por hecho</a>
		<span>JSConf Colombia 2018 — Spanish</span>
	</li>
</ul>