---
layout: layouts/base.njk
heading: When you assume, you make an error out of you and me
---
<div class="text">
	<span class="location">JSConf.EU 2018, Berlin</span>
	<p>Our choices in wording are frequently more powerful than we realise, 
	and we risk using this power liberally and erroneously. 
	This talk takes a look at our ideas about how we communicate in our code and in our speech, and what effects those ideas have.</p>

	<iframe height="315" src="https://www.youtube.com/embed/35mT6D-QeHk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>