---
layout: layouts/base.njk
heading: El error en dar un error por hecho
---
<div class="text">
	<span class="location">JSConf Colombia 2018, Medellín</span>
	<p>Las palabras que utilizamos frecuentemente tienen más impacto de lo que sabemos. 
		En esta charla, investigamos como comunicamos en nuestro código y en nuestro hablar, 
		y que efectos estas palabras pueden tener.</p>

	<iframe height="315" src="https://www.youtube.com/embed/4UIFX3bR3LE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>