.content--about h2 {
  background-color: white;
  border: var(--border);
  position: relative;
  padding: 0 0.8rem;
  margin-top: 0;
  display: inline-block;
}
.content--about h2::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}
.content--about .content--about__personal {
  background-color: white;
  border: var(--border);
  position: relative;
  padding: 0.8rem;
  margin-bottom: 3rem;
}
.content--about .content--about__personal::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}

.content__list--about details.content__list__item__details {
  position: relative;
}
.content__list--about details.content__list__item__details summary {
  background-color: white;
  border: var(--border);
  position: relative;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0.8rem;
  margin: 0 0 0.8rem;
  list-style: none;
}
.content__list--about details.content__list__item__details summary::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}
.content__list--about details.content__list__item__details summary::marker, .content__list--about details.content__list__item__details summary::-webkit-details-marker {
  display: none;
}
.content__list--about details.content__list__item__details summary:before {
  content: "";
  display: block;
  border: var(--border);
  border-top: 0;
  border-left: 0;
  height: 1rem;
  width: 1rem;
  transform: rotate(45deg);
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  transition: all 0.3s ease;
}
@media screen and (prefers-reduced-motion) {
  .content__list--about details.content__list__item__details summary:before {
    transition: none;
  }
}
.content__list--about details.content__list__item__details summary h3 {
  margin: 0 0 0.5rem;
  flex: 0 0 100%;
}
.content__list--about details.content__list__item__details summary span {
  margin-right: 0.6rem;
}
.content__list--about details.content__list__item__details summary a {
  width: max-content;
}
.content__list--about details.content__list__item__details[open] summary:before {
  transform: rotate(-135deg);
  bottom: 0.5rem;
}
.content__list--about .content__list__item__section ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
}
.content__list--about .content__list__item__section ul li {
  background-color: white;
  border: var(--border);
  position: relative;
  font-size: var(--font-md);
  margin: 0 0.5rem 0.8rem 0;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.content__list--about .content__list__item__section ul li::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}
.content__list--about .content__list__item__section div {
  background-color: white;
  border: var(--border);
  position: relative;
  padding: 0.5rem 0.8rem;
}
.content__list--about .content__list__item__section div::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}

.content {
  align-self: flex-start;
  grid-area: content;
  min-width: 25ch;
  line-height: 1.6;
}
.content.content--text {
  background-color: white;
  border: var(--border);
  position: relative;
  padding: 1rem;
  margin-top: 0;
}
.content.content--text::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}
.content .details {
  margin-bottom: 0.8rem;
}
.content p:first-of-type {
  margin-top: 0;
}
.content p:last-child {
  margin-bottom: 0;
}
.content iframe {
  border: var(--border);
  box-sizing: border-box;
  width: 100%;
}
.content img {
  width: 100%;
}

.controls {
  align-self: flex-end;
  justify-self: flex-start;
  grid-area: controls;
  display: grid;
  grid-template-columns: 1fr 40px auto;
  grid-template-rows: repeat(3, 40px);
  grid-gap: 0.5rem;
}
.controls > * {
  background-color: white;
  border: var(--border);
  position: relative;
  cursor: pointer;
  width: max-content;
}
.controls > *::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}
.controls label {
  display: none;
  justify-self: flex-end;
  padding: 0.35rem;
  grid-column: 1;
}
.controls label input {
  --webkit-appearance: none;
  border: none;
  cursor: inherit;
  height: 24px;
  margin-left: 0.35rem;
  padding: 0;
  width: 24px;
  vertical-align: bottom;
}
.controls button {
  color: var(--text);
  background-color: white;
  border: var(--border);
  font-size: inherit;
  font-family: inherit;
  padding: 0.35rem 0.55rem;
  grid-column: 3;
}
.controls .background {
  box-sizing: border-box;
  grid-column: 2;
  padding: 0.35rem;
}
.controls .background--dotted {
  grid-row: 1;
}
.controls .background--striped {
  grid-row: 2;
}
.controls .background--none {
  grid-row: 3;
}
.controls .background button {
  height: 24px;
  width: 24px;
  vertical-align: super;
}
.controls #dotted {
  background-image: var(--dotted);
  background-size: 4px 4px;
}
.controls #striped {
  background-image: var(--striped);
  background-position-x: 9px;
  background-size: 4px;
}
.controls #none {
  background-image: none;
}
.controls #highlight,
.controls #outline,
.controls #text {
  background-color: transparent;
}
.controls #highlight,
.controls #grayscale {
  grid-row: 1;
}
.controls #outline,
.controls #random {
  grid-row: 2;
}
.controls #text,
.controls #reset {
  grid-row: 3;
}
@media (min-width: 720px) {
  .controls {
    justify-self: flex-end;
  }
  .controls label {
    display: block;
  }
}

.no-js .controls {
  display: none !important;
}

@font-face {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Condensed Regular"), local("FiraSansCondensed-Regular"), url("../../assets/fonts/fira-sans-condensed-v4-latin-regular.woff2") format("woff2"), url("../../assets/fonts/fira-sans-condensed-v4-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Fira Sans Condensed";
  font-style: italic;
  font-weight: 400;
  src: local("Fira Sans Condensed Italic"), local("FiraSansCondensed-Italic"), url("../../assets/fonts/fira-sans-condensed-v4-latin-italic.woff2") format("woff2"), url("../../assets/fonts/fira-sans-condensed-v4-latin-italic.woff") format("woff");
}
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono Regular"), local("FiraMono-Regular"), url("../../assets/fonts/fira-mono-v9-latin-regular.woff2") format("woff2"), url("../../assets/fonts/fira-mono-v9-latin-regular.woff") format("woff");
}
.grid {
  display: grid;
  grid-template-areas: ". me controls ." ". sidebar sidebar ." ". heading heading ." ". content content ." ". . . .";
  grid-template-columns: 1fr repeat(2, auto) 1fr;
  grid-template-rows: 10rem repeat(3, auto) 1fr;
  grid-gap: 1.5rem;
  margin: 1rem 0;
  min-height: 100vh;
  background-image: var(--background);
  background-size: 4px 4px;
  box-sizing: border-box;
}
@media screen and (prefers-reduced-motion) {
  .grid {
    background-image: none;
  }
  .grid .background {
    display: none;
  }
}
@media (min-width: 720px) {
  .grid {
    grid-template-areas: ". me controls ." ". me heading ." ". sidebar content ." ". . . .";
    grid-template-columns: 1fr 15% minmax(auto, 70ch) 1fr;
    grid-template-rows: 10rem repeat(2, auto) 1fr;
  }
}

.heading {
  background-color: white;
  border: var(--border);
  position: relative;
  font-family: "Fira Sans Condensed", sans-serif;
  grid-area: heading;
  align-self: flex-end;
  justify-self: flex-start;
  margin: 0;
  max-width: 65ch;
  padding: 0.8rem;
}
.heading::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}

.content__list {
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 2rem;
}
.content__list:before {
  content: "";
  border: var(--border);
  position: absolute;
  top: 0.5rem;
  left: 0.6rem;
  bottom: -1rem;
}
.content__list:after {
  content: "";
  border: 3px solid var(--outline);
  border-top: 0;
  border-left: 0;
  height: 1rem;
  width: 1rem;
  position: absolute;
  left: 0.1rem;
  bottom: -1rem;
  transform: rotate(45deg);
}

.content__list__item {
  margin-bottom: 2rem;
  position: relative;
}
.content__list__item::before {
  content: "";
  background-color: var(--highlight);
  border: var(--border);
  display: inline-block;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 0rem;
  left: -2rem;
}
.content__list__item::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: var(--outline);
  height: 1.2rem;
  width: 1.2rem;
  left: -1.8rem;
  top: 0.2rem;
  z-index: -1;
}
.content__list__item:last-of-type {
  margin-bottom: 0;
}

.content__list--post .content__list__item div {
  background-color: white;
  border: var(--border);
  position: relative;
  padding: 0.8rem;
}
.content__list--post .content__list__item div::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}
.content__list--post .content__list__item div h2 {
  margin: 0 0 0.5rem;
  line-height: 1.2;
}

#pixel-me {
  background-color: white;
  border: var(--border);
  position: relative;
  align-self: flex-end;
  grid-area: me;
  background-image: url("../assets/images/pixelme.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--highlight);
  box-sizing: border-box;
  justify-self: flex-end;
  height: 30vw;
  width: 30vw;
  max-height: 10rem;
  max-width: 10rem;
}
#pixel-me::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}
#pixel-me:hover {
  background-image: url("../assets/images/pixelme-tongue.png");
}

@media (min-width: 720px) {
  #pixel-me {
    justify-self: flex-end;
    height: 15vw;
    width: 15vw;
    max-height: 12rem;
    max-width: 12rem;
  }
}
.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  width: 100%;
}
@media (min-width: 720px) {
  .sidebar {
    display: block;
    align-self: flex-start;
    position: sticky;
    top: 0.8rem;
  }
}

.sidebar__link {
  background-color: white;
  border: var(--border);
  position: relative;
  align-self: center;
  text-decoration: none;
  padding: 0.8rem;
}
.sidebar__link::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}
@media (min-width: 720px) {
  .sidebar__link {
    display: block;
    margin-bottom: 0.8rem;
  }
}
.sidebar__link[aria-current=location] {
  background-color: var(--highlight);
}

.glossary {
  background-color: white;
  border: var(--border);
  position: relative;
  padding: 0.8rem;
  grid-column: 1/3;
}
.glossary::after {
  content: "";
  position: absolute;
  background-color: var(--outline);
  top: 0.4rem;
  left: 0.4rem;
  right: -0.4rem;
  bottom: -0.4rem;
  z-index: -1;
}
.glossary h4 {
  margin: 0 0 0.8rem;
}
.glossary pre:last-of-type {
  margin-bottom: 0;
}

@media print {
  a#pixel-me,
nav.sidebar,
div.controls,
main:not(.content--about),
h1.heading {
    display: none !important;
  }

  body {
    display: block !important;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
:root {
  --highlight: #d1fff3;
  --outline: #21d19f;
  --text: #0f624b;
  --border: 2px solid var(--outline);
  --dotted: radial-gradient(at center center, var(--outline) 30%, white 15%);
  --striped: repeating-linear-gradient(
  		90deg,
  		var(--outline),
  		var(--outline) 1px,
  		white 1px,
  		white 10px);
  --background: var(--dotted);
  --font-lg: 20px;
  --font-md: 16px;
}

html {
  min-height: 100%;
}

body {
  color: var(--text);
  background: var(--dark-background);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: var(--font-lg);
  min-height: 100vh;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body a {
  color: inherit;
}
body a:hover {
  text-decoration-style: double;
  background-color: var(--highlight);
}
body code {
  background-color: var(--highlight);
  font-family: "Fira Mono", monospace;
  font-size: var(--font-md);
  padding: 0.2rem 0.3rem;
}
body pre {
  background-color: var(--highlight);
  padding: 0.8rem;
  white-space: pre-wrap;
}
body pre code {
  padding: 0;
}
body blockquote {
  margin: 0;
  padding-left: 0.8rem;
  border-left: var(--border);
}

/*# sourceMappingURL=main.css.map */
