
.four-oh-four {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}

p { 
  width: 50%;
  align-self: center;
}

html,
body {
  margin: 0;
  background: #fab81e;
  font-family: 'VT323', monospace;
  font-size: 24px;
  line-height: 1.2;
  height: 100%;
}

img {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  align-self: center;
}

a { color: inherit; }
a:hover { color: white; }
