<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ site.title }}</title>

		<meta name="description" content="{{ site.description }}">
		<meta name="author" content="{{ site.author }}">
		{# <meta property="og:url" content="{{ site.url }}">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{{ site.title }}">
		<meta property="og:description" content="{{ site.description }}">
		<meta property="og:image" content="https://css-tricks.com/wp-content/uploads/2013/06/CSS-Tricks-star.png">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ site.title }}">
		<meta name="twitter:description" content="{{ site.description }}">
		<meta name="twitter:image" content="https://css-tricks.com/wp-content/uploads/2013/06/CSS-Tricks-star.png"> #}

		<link
			href="https://fonts.googleapis.com/css?family=Rubik:700"
			rel="stylesheet"
		/>
		<link rel="shortcut icon" href="{{ '/images/cheese.png' | url }}">
		<link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25156125-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-25156125-2');
		</script>
	</head>
	<body class="grid">

		<h1 class="heading">{{ title }}</h1>
		<a href="/" class="pixel-me" aria-labelledby="8bit portrait of Gabrielle von Koss"></a>

		{% include 'components/controls.njk' %}
		{% include 'components/sidebar.njk' %}

		{{ content | safe }}

		<script src="{{ '/script/main.js' | url }}"></script>
	</body>
</html>