<!DOCTYPE html>
<html lang="{{'es' if language == 'Spanish' else 'en'}}" class="no-js">

  {% include 'components/head.njk'%}

  <body class="grid">
    {# <a class="skip-to-content" href="#content" target="_self">Skip to Content</a> #}
    <header>
      <h1>Gabrielle von Koss</h1>
      <p>Lalala potatoes are great and they are everywhere. I'm tired of eating sandwiches, and of looking at this screen all day.</p>
      <p> There must be more to life than programming, right? Maybe? Hopefully. Something witty will ocurr to me to put here. Fo' sho.</p>
    </header>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#thoughts">Thoughts</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <hr/>
    <hr/>
    <hr/>
    <hr/>
    <aside>
      <menu>
        <li>
          <label for="toggle"> 
            <span>Color mode</span>
            <input type="checkbox" id="toggle" />
          </span>
        </li>
        </menu>
    </aside>
    <main>
      <section>
        <h2 id="about">About
        </h2>
        
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
      </section>
      <section>
        <h2 id="work">Work</h2>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
      </section>
      <section>
        <h2 id="thoughts">Thoughts</h2>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
      </section>
      <section>
        <h2 id="contact">Get in touch</h2>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
        <p>Bacon ipsum dolor amet jerky corned beef turducken tenderloin. Salami sausage meatloaf, buffalo corned beef ham pork chop ribeye burgdoggen ham hock ground round. Tri-tip chislic ham, turkey flank ham hock bacon tongue biltong doner swine. Fatback cow pork belly turkey. Strip steak jowl turkey kielbasa swine pork belly spare ribs fatback sausage.</p>
      </section>
    </main>

{# 
    <a href="/" id="pixel-me" title="Home" aria-label="8bit portrait of Gabrielle von Koss and link to homepage"></a>
    {% include 'components/sidebar.njk' %}


    {% include 'components/controls.njk' %}

    <h1 class="heading">{{ title }}</h1>

    <main class="content{{ ' content--text' if text }}{{ ' content--about' if about}}" id="content">
      {{ content | safe }}
    </main>

    <script type="module" src="{{ '/assets/scripts/main.js' | url }}"></script> #}
  </body>
</html>
