---
layout: layouts/base.njk
---

<h1 class="heading">{{ main.heading }}</h1>
<div class="pixel-me" aria-labelledby="8bit portrait of Gabrielle von Koss"></div>

{% include 'components/controls.njk' %}
{% include 'components/links.njk' %}

<div class="text">
	{{ main.text | safe }}
</div>