---
layout: layouts/list.njk
title: Writing
---

{%- for post in collections.post | reverse -%}
	<li class="list-item">
		<a href="{{ post.url }}"
			data-list-item='{{ post.data.title }}'>
				{{ post.data.title }}
		</a>
		<span>{{ post.date | readableDate }}</span>
	</li>
{%- endfor -%}
