---
layout: layouts/base.njk
heading: Uh oh.
---
<div class="text">
	<p>I'm afraid what you're looking for doesn't exist!</p>
	<p>What you <em>have</em> found, however, is:</p>

	<strong>The Chaos</strong> by <a href="https://en.wikipedia.org/wiki/Gerard_Nolst_Trenit%C3%A9" target="_blank" rel="noopener">Gerard Nolst Trenité</a>.
	<br>
	<em>(I strongly recommend trying to read it out loud)</em>
	<br>
	<em>(Or <a href="https://www.youtube.com/watch?v=tfRSvTSY0d4" target="_blank" rel="noopener">listening to someone else</a> do it)</em>
	<br>
	<br>

	Dearest <em>creature</em> in <em>creation</em><br>
	Studying English <em>pronunciation</em>,<br>
	&emsp;&emsp;I will teach you in my verse<br>
	&emsp;&emsp;Sounds like <em>corpse, corps, horse</em> and <em>worse</em>.<br>
	<br>
	I will keep you, <em>Susy, busy</em>,<br>
	Make your head with heat grow <em>dizzy</em>;<br>
	&emsp;&emsp;<em>Tear</em> in eye, your dress you'll <em>tear</em>;<br>
	&emsp;&emsp;<em>Queer</em>, fair <em>seer, hear</em> my <em>prayer</em>.<br>
	<br>
	<em>Pray</em>, console your loving poet,<br>
	Make my coat look <em>new</em>, dear, <em>sew</em> it!<br>
	&emsp;&emsp;Just compare <em>heart, hear</em> and <em>heard</em>,<br>
	&emsp;&emsp;<em>Dies</em> and <em>diet, lord</em> and <em>word</em>.<br>
	<br>
	<em>Sword</em> and <em>sward, retain</em> and <em>Britain</em><br>
	(Mind the latter how it's <em>written</em>).<br>
	&emsp;&emsp;<em>Made</em> has not the sound of <em>bade</em>,<br>
	&emsp;&emsp;<em>Say-said, pay-paid, laid</em> but <em>plaid</em>.<br>
	<br>
	Now I surely will not <em>plague</em> you<br>
	With such words as <em>vague</em> and <em>ague</em>,<br>
	&emsp;&emsp;But be careful how you <em>speak</em>,<br>
	&emsp;&emsp;Say:<em>gush, bush, steak, streak, break, bleak</em>,<br>
	<br>
	<em>Previous, precious, fuchsia, via</em><br>
	<em>Recipe, pipe, studding-sail, choir</em>;<br>
	&emsp;&emsp;<em>Woven, oven, how</em> and <em>low</em>,<br>
	&emsp;&emsp;<em>Script, receipt, shoe, poem, toe</em>.<br>
	<br>
	Say, expecting fraud and <em>trickery</em>:<br>
	<em>Daughter, laughter</em> and <em>Terpsichore</em>,<br>
	&emsp;&emsp;<em>Branch,</em> <em>ranch, measles, topsails, aisles</em>,<br>
	&emsp;&emsp;<em>Missiles,</em> <em>similes</em>, and <em>reviles</em>.<br>
	<br>
	<em>Wholly, holly, signal, signing</em>,<br>
	<em>Same, examining</em>, but <em>mining</em>,<br>
	&emsp;&emsp;<em>Scholar, vicar</em>, and <em>cigar</em>,<br>
	&emsp;&emsp;<em>Solar, mica, war</em> and <em>far</em>.<br>
	<br>
	From "desire": <em>desirable-admirable</em> from "admire",<br>
	<em>Lumber, plumber, bier</em>, but <em>brier</em>,<br>
	&emsp;&emsp;<em>Topsham, brougham, renown</em>,but <em>known</em>,<br>
	&emsp;&emsp;<em>Knowledge, done, lone, gone, none, tone</em>,<br>
	<br>
	<em>One, anemone, Balmoral</em>,<br>
	<em>Kitchen, lichen, laundry</em>, laurel</em>.<br>
	&emsp;&emsp;<em>Gertrude, German, wind</em> and <em>wind</em>,<br>
	&emsp;&emsp;<em>Beau, kind, kindred, queue, mankind</em>,<br>
	<br>
	<em>Tortoise, turquoise, chamois-leather</em>,<br>
	<em>Reading, Reading, heathen, heather</em>.<br>
	&emsp;&emsp;This phonetic labyrinth<br>
	&emsp;&emsp;Gives <em>moss, gross, brook, brooch, ninth, plinth</em>.<br>
	<br>
	Have you ever yet <em>endeavoured</em><br>
	To pronounce <em>revered</em> and <em>severed</em>,<br>
	&emsp;&emsp;<em>Demon, lemon, ghoul, foul, soul</em>,<br>
	&emsp;&emsp;<em>Peter, petrol</em> and <em>patrol</em>?<br>
	<br>
	<em>Billet</em> does not end like <em>ballet</em>;<br>
	<em>Bouquet, wallet, mallet, chalet</em>.<br>
	&emsp;&emsp;<em>Blood</em> and <em>flood</em> are not like <em>food</em>,<br>
	&emsp;&emsp;Nor is <em>mould</em> like <em>should</em> and <em>would</em>.<br>
	<br>
	<em>Banquet</em> is not nearly <em>parquet</em>,<br>
	Which exactly rhymes with <em>khaki</em>.<br>
	&emsp;&emsp;<em>Discount, viscount, load</em> and <em>broad</em>,<br>
	&emsp;&emsp;<em>Toward</em>, to <em>forward</em>, to <em>reward</em>,<br>
	<br>
	<em>Ricocheted</em> and <em>crocheting, croquet</em>?<br>
	Right! Your pronunciation's OK.<br>
	&emsp;&emsp;<em>Rounded, wounded, grieve</em> and <em>sieve</em>,<br>
	&emsp;&emsp;<em>Friend</em> and <em>fiend, alive</em> and <em>live</em>.<br>
	<br>
	Is your r correct in <em>higher</em>?<br>
	Keats asserts it rhymes <em>Thalia</em>.<br>
	&emsp;&emsp;<em>Hugh</em>, but <em>hug</em>, and <em>hood</em>, but <em>hoot</em>,<br>
	&emsp;&emsp;<em>Buoyant, minute</em>, but <em>minute</em>.<br>
	<br>
	Say <em>abscission</em> with <em>precision</em>,<br>
	Now: <em>position</em> and <em>transition</em>;<br>
	&emsp;&emsp;Would it tally with my <em>rhyme</em><br>
	&emsp;&emsp;If I mentioned <em>paradigm</em>?<br>
	<br>
	<em>Twopence, threepence, tease</em> are <em>easy</em>,<br>
	But <em>cease, crease, grease</em> and <em>greasy</em>?<br>
	&emsp;&emsp;<em>Cornice, nice, valise, revise</em>,<br>
	&emsp;&emsp;<em>Rabies</em>, but <em>lullabies</em>.<br>
	<br>
	Of such puzzling words as <em>nauseous</em>,<br>
	Rhyming well with <em>cautious, tortious</em>,<br>
	&emsp;&emsp;You'll <em>envelop</em> lists, I hope,<br>
	&emsp;&emsp;In a linen <em>envelope</em>.<br>
	<br>
	Would you like some more? You'll <em>have</em> it!<br>
	<em>Affidavit, David, davit</em>.<br>
	&emsp;&emsp;To <em>abjure</em>, to <em>perjure</em>. <em>Sheik</em><br>
	&emsp;&emsp;Does not sound like <em>Czech</em> but <em>ache</em>.<br>
	<br>
	<em>Liberty, library, heave</em> and <em>heaven</em>,<br>
	<em>Rachel, loch, moustache, eleven</em>.<br>
	&emsp;&emsp;We say <em>hallowed</em>, but <em>allowed</em>,<br>
	&emsp;&emsp;<em>People, leopard, towed</em> but <em>vowed</em>.<br>
	<br>
	Mark the difference, moreover,<br>
	Between <em>mover, plover, Dover</em>.<br>
	&emsp;&emsp;<em>Leeches, breeches, wise, precise</em>,<br>
	&emsp;&emsp;<em>Chalice</em>, but <em>police</em> and <em>lice</em>,<br>
	<br>
	<em>Camel, constable, unstable</em>,<br>
	<em>Principle, disciple, label</em>.<br>
	&emsp;&emsp;<em>Petal, penal</em>, and <em>canal</em>,<br>
	&emsp;&emsp;<em>Wait, surmise, plait, promise, pal</em>,<br>
	<br>
	<em>Suit, suit</em>e, <em>ruin</em>. <em>Circuit, conduit</em><br>
	Rhyme with "shirk it" and "beyond it",<br>
	&emsp;&emsp;But it is not hard to tell<br>
	&emsp;&emsp;Why it's <em>pall, mall</em>, but <em>Pall Mall</em>.<br>
	<br>
	<em>Muscle, muscular, gaol, iron</em>,<br>
	<em>Timber, climber, bullion, lion</em>,<br>
	&emsp;&emsp;<em>Worm</em> and <em>storm, chaise, chaos, chair</em>,<br>
	&emsp;&emsp;<em>Senator, spectator, mayor</em>,<br>
	<br>
	<em>Ivy, privy, famous</em>; <em>clamour</em><br>
	Has the a of <em>drachm</em> and <em>hammer</em>.<br>
	&emsp;&emsp;<em>Pussy, hussy</em> and <em>possess</em>,<br>
	&emsp;&emsp;<em>Desert</em>, but <em>desert, address</em>.<br>
	<br>
	<em>Golf, wolf, countenance, lieutenants</em><br>
	Hoist in <em>lieu</em> of flags left <em>pennants</em>.<br>
	&emsp;&emsp;<em>Courier, courtier, tomb, bomb, comb</em>,<br>
	&emsp;&emsp;<em>Cow</em>, but <em>Cowper, some</em> and <em>home</em>.<br>
	<br>
	"<em>Solder, soldier</em>! Blood is <em>thicker</em>",<br>
	Quoth he, "than <em>liqueur</em> or <em>liquor</em>",<br>
	&emsp;&emsp;Making, it is sad but <em>true</em>,<br>
	&emsp;&emsp;In bravado, much <em>ado</em>.<br>
	<br>
	<em>Stranger</em> does not rhyme with <em>anger</em>,<br>
	Neither does <em>devour</em> with <em>clangour</em>.<br>
	&emsp;&emsp;<em>Pilot, pivot, gaunt</em>, but <em>aunt</em>,<br>
	&emsp;&emsp;<em>Font, front, wont, want, grand</em> and <em>grant</em>.<br>
	<br>
	<em>Arsenic, specific, scenic</em>,<br>
	<em>Relic, rhetoric, hygienic</em>.<br>
	&emsp;&emsp;<em>Gooseberry, goose</em>, and <em>close</em>, but <em>close</em>,<br>
	&emsp;&emsp;<em>Paradise, rise, rose</em>, and <em>dose</em>.<br>
	<br>
	Say <em>inveigh, neigh</em>, but <em>inveigle</em>,<br>
	Make the latter rhyme with <em>eagle</em>.<br>
	&emsp;&emsp;Mind! <em>Meandering</em> but <em>mean</em>,<br>
	&emsp;&emsp;<em>Valentine</em> and <em>magazine</em>.<br>
	<br>
	And I bet you, dear, a <em>penny</em>,<br>
	You say <em>mani</em>-(fold) like <em>many</em>,<br>
	&emsp;&emsp;Which is wrong. Say <em>rapier, pier</em>,<br>
	&emsp;&emsp;<em>Tier</em> (one who ties), but <em>tier</em>.<br>
	<br>
	<em>Arch, archangel</em>; pray, does <em>erring</em><br>
	Rhyme with <em>herring</em> or with <em>stirring</em>?<br>
	&emsp;&emsp;<em>Prison, bison, treasure trove</em>,<br>
	&emsp;&emsp;<em>Treason, hover, cover, cove</em>,<br>
	<br>
	<em>Perseverance, severance. Ribald</em><br>
	Rhymes (but <em>piebald</em> doesn't) with <em>nibbled</em>.<br>
	&emsp;&emsp;<em>Phaeton, paean, gnat, ghat, gnaw</em>,<br>
	&emsp;&emsp;<em>Lien, psychic, shone, bone, pshaw</em>.<br>
	<br>
	Don't be <em>down</em>, my <em>own</em>, but <em>rough it</em>,<br>
	And distinguish <em>buffet, buffet</em>;<br>
	&emsp;&emsp;<em>Brood, stood, roof, rook, school, wool, boon</em>,<br>
	&emsp;&emsp;Worcester, Boleyn, to <em>impugn</em>.<br>
	<br>
	Say in sounds correct and <em>sterling</em><br>
	<em>Hearse, hear, hearken, year</em> and <em>yearling</em>.<br>
	&emsp;&emsp;<em>Evil, devil, mezzotint</em>,<br>
	&emsp;&emsp;Mind the z! (A gentle hint.)<br>
	<br>
	Now you need not pay attention<br>
	To such sounds as I don't mention,<br>
	&emsp;&emsp;Sounds like <em>pores, pause, pours</em> and <em>paws</em>,<br>
	&emsp;&emsp;Rhyming with the pronoun <em>yours</em>;<br>
	<br>
	Nor are proper names <em>included</em>,<br>
	Though I often heard, as you did,<br>
	&emsp;&emsp;Funny rhymes to <em>unicorn</em>,<br>
	&emsp;&emsp;Yes, you know them, <em>Vaughan</em> and <em>Strachan</em>.<br>
	<br>
	No, my maiden, coy and <em>comely</em>,<br>
	I don't want to speak of <em>Cholmondeley</em>.<br>
	&emsp;&emsp;No. Yet <em>Froude</em> compared with <em>proud</em><br>
	&emsp;&emsp;Is no better than <em>McLeod</em>.<br>
	<br>
	But mind <em>trivial</em> and <em>vial</em>,<br>
	<em>Tripod, menial, denial</em>,<br>
	&emsp;&emsp;<em>Troll</em> and <em>trolley, realm</em> and <em>ream</em>,<br>
	&emsp;&emsp;<em>Schedule, mischief, schism</em>, and <em>scheme</em>.<br>
	<br>
	<em>Argil, gill, Argyll, gill. Surely</em><br>
	May be made to rhyme with <em>Raleigh</em>,<br>
	&emsp;&emsp;But you're not supposed to say<br>
	&emsp;&emsp;<em>Piquet</em> rhymes with <em>sobriquet</em>.<br>
	<br>
	Had this <em>invalid invalid</em><br>
	Worthless documents? How <em>pallid</em>,<br>
	&emsp;&emsp;How <em>uncouth</em> he, <em>couchant</em>, looked,<br>
	&emsp;&emsp;When for <em>Portsmouth</em> I had booked!<br>
	<br>
	<em>Zeus, Thebes, Thales, Aphrodite,</em><br>
	<em>Paramour, enamoured, flighty,</em><br>
	&emsp;&emsp;<em>Episodes, antipodes,</em><br>
	&emsp;&emsp;<em>Acquiesce</em>, and <em>obsequies</em>.<br>
	<br>
	Please don't monkey with the <em>geyser</em>,<br>
	Don't peel 'taters with my <em>razor</em>,<br>
	&emsp;&emsp;Rather say in accents pure:<br>
	&emsp;&emsp;<em>Nature, stature</em> and <em>mature</em>.<br>
	<br>
	<em>Pious, impious, limb, climb, glumly,</em><br>
	<em>Worsted, worsted, crumbly, dumbly,</em><br>
	&emsp;&emsp;<em>Conquer, conquest, vase, phase, fan</em>,<br>
	&emsp;&emsp;<em>Wan, sedan</em> and <em>artisan</em>.<br>
	<br>
	The <samp>th</samp> will surely <em>trouble you</em><br>
	More than <samp>r</samp>, <samp>ch</samp> or <samp>w</samp>.<br>
	&emsp;&emsp;Say then these phonetic gems:<br>
	&emsp;&emsp;<em>Thomas, thyme, Theresa, Thames</em>.<br>
	<br>
	<em>Thompson, Chatham, Waltham, Streatham,</em><br>
	There are more but I forget 'em-<br>
	&emsp;&emsp;Wait! I've got it: <em>Anthony</em>,<br>
	&emsp;&emsp;Lighten your anxiety.<br>
	<br>
	The archaic word <em>albeit</em><br>
	Does not rhyme with <em>eight</em>-you see <em>it</em>;<br>
	&emsp;&emsp;<em>With</em> and <em>forthwith</em>, one has voice,<br>
	&emsp;&emsp;One has not, you make your choice.<br>
	<br>
	<em>Shoes, goes, does</em> *. Now first say: <em>finger</em>;<br>
	Then say: <em>singer, ginger, linger.</em><br>
	&emsp;&emsp;<em>Real, zeal, mauve, gauze</em> and <em>gauge</em>,<br>
	&emsp;&emsp;<em>Marriage, foliage, mirage, age</em>,<br>
	<br>
	<em>Hero, heron, query, very,</em><br>
	<em>Parry, tarry fury, bury,</em><br>
	&emsp;&emsp;<em>Dost, lost, post,</em> and <em>doth, cloth, loth</em>,<br>
	&emsp;&emsp;<em>Job, Job, blossom, bosom, oath</em>.<br>
	<br>
	<em>Faugh, oppugnant,</em> keen <em>oppugners</em>,<br>
	<em>Bowing, bowing, banjo-tuners</em><br>
	&emsp;&emsp;<em>Holm you know, but noes, canoes,</em><br>
	&emsp;&emsp;<em>Puisne, truism, use,</em> to <em>use</em>?<br>
	<br>
	Though the difference seems <em>little</em>,<br>
	We say <em>actual</em>, but <em>victual</em>,<br>
	&emsp;&emsp;<em>Seat, sweat, chaste, caste, Leigh, eight, height,</em><br>
	&emsp;&emsp;<em>Put, nut, granite</em>, and <em>unite.</em><br>
	<br>
	<em>Reefer</em> does not rhyme with <em>deafer</em>,<br>
	<em>Feoffer</em> does, and <em>zephyr, heifer.</em><br>
	&emsp;&emsp;<em>Dull, bull, Geoffrey, George, ate, late,</em><br>
	&emsp;&emsp;<em>Hint, pint, senate,</em> but <em>sedate</em>.<br>
	<Br>
	<em>Gaelic, Arabic, pacific,</em><br>
	<em>Science, conscience, scientific;</em><br>
	&emsp;&emsp;<em>Tour</em>, but <em>our, dour, succour, four,</em><br>
	&emsp;&emsp;<em>Gas, alas</em>, and <em>Arkansas</em>.<br>
	<br>
	Say <em>manoeuvre, yacht</em> and <em>vomit</em>,<br>
	Next <em>omit</em>, which differs from it<br>
	&emsp;&emsp;<em>Bona fide, alibi</em><br>
	&emsp;&emsp;<em>Gyrate, dowry</em> and <em>awry</em>.<br>
	<br>
	<em>Sea, idea, guinea, area</em>,<br>
	<em>Psalm, Maria</em>, but <em>malaria</em>.<br>
	&emsp;&emsp;<em>Youth, south, southern, cleanse</em> and <em>clean</em>,<br>
	&emsp;&emsp;<em>Doctrine, turpentine, marine</em>.<br>
	<br>
	Compare <em>alien</em> with <em>Italian</em>,<br>
	<em>Dandelion</em> with <em>battalion</em>,<br>
	&emsp;&emsp;<em>Rally</em> with <em>ally</em>; <em>yea, ye</em>,<br>
	&emsp;&emsp;<em>Eye, I, ay, aye, whey, key, quay</em>!<br>
	<br>
	Say <em>aver</em>, but <em>ever, fever</em>,<br>
	<em>Neither, leisure, skein, receiver</em>.<br>
	&emsp;&emsp;Never guess-it is not safe,<br>
	&emsp;&emsp;We say <em>calves, valves, half</em>, but <em>Ralf</em>.<br>
	<br>
	<em>Starry, granary, canary</em>,<br>
	<em>Crevice</em>, but <em>device</em>, and <em>eyrie</em>,<br>
	&emsp;&emsp;<em>Face</em>, but <em>preface</em>, then <em>grimace</em>,<br>
	&emsp;&emsp;<em>Phlegm, phlegmatic, ass, glass, bass</em>.<br>
	<br>
	<em>Bass, large, target, gin, give, verging</em>,<br>
	<em>Ought, oust, joust</em>, and <em>scour</em>, but <em>scourging</em>;<br>
	&emsp;&emsp;<em>Ear</em>, but <em>earn</em>; and <em>ere</em> and <em>tear</em><br>
	&emsp;&emsp;Do not rhyme with <em>here</em> but <em>heir</em>.<br>
	<br>
	Mind the o of <em>off</em> and <em>often</em><br>
	Which may be pronounced as <em>orphan</em>,<br>
	&emsp;&emsp;With the sound of <em>saw</em> and <em>sauce</em>;<br>
	&emsp;&emsp;Also <em>soft, lost, cloth</em> and <em>cross</em>.<br>
	<br>
	<em>Pudding, puddle, putting. Putting</em>?<br>
	Yes: at golf it rhymes with <em>shutting</em>.<br>
	&emsp;&emsp;<em>Respite, spite, consent, resent</em>.<br>
	&emsp;&emsp;<em>Liable</em>, but <em>Parliament</em>.<br>
	<br>
	<em>Seven</em> is right, but so is <em>even</em>,<br>
	<em>Hyphen, roughen, nephew, Stephen</em>,<br>
	&emsp;&emsp;<em>Monkey, donkey, clerk</em> and <em>jerk</em>,<br>
	&emsp;&emsp;<em>Asp, grasp, wasp, demesne, cork, work</em>.<br>
	<br>
	<samp>A</samp> of <em>valour, vapid vapour</em>,<br>
	<samp>S</samp> of <em>news</em> (compare <em>newspaper</em>),<br>
	&emsp;&emsp;<samp>G</samp> of <em>gibbet, gibbon, gist</em>,<br>
	&emsp;&emsp;<samp>I</samp> of <em>antichrist</em> and <em>grist</em>,<br>
	<br>
	<em>Differ</em> like <em>diverse</em> and <em>divers</em>,<br>
	<em>Rivers, strivers, shivers, fivers</em>.<br>
	&emsp;&emsp;<em>Once</em>, but <em>nonce, toll, doll</em>, but <em>roll</em>,<br>
	&emsp;&emsp;<em>Polish, Polish, poll</em> and <em>poll</em>.<br>
	<br>
	Pronunciation-think of <em>Psyche</em>!-<br>
	Is a paling, stout and <em>spiky</em>.<br>
	&emsp;&emsp;Won't it make you lose your <em>wits</em><br>
	&emsp;&emsp;Writing <em>groats</em> and saying "grits"?<br>
	<br>
	It's a dark <em>abyss</em> or <em>tunnel</em><br>
	Strewn with stones like <em>rowlock, gunwale</em>,<br>
	&emsp;&emsp;<em>Islington</em>, and <em>Isle of Wight</em>,<br>
	&emsp;&emsp;<em>Housewife, verdict</em> and indict</em>.<br>
	<br>
	Don't you think so, reader, <em>rather</em>,<br>
	Saying <em>lather, bather, father</em>?<br>
	&emsp;&emsp;Finally, which rhymes with <em>enough</em>,<br>
	&emsp;&emsp;<em>Though, through, bough, cough, hough, sough, tough</em>??<br>
	<br>
	<em>Hiccough</em> has the sound of <em>sup</em>...<br>
	My advice is: GIVE IT UP!
</div>