---
layout: layouts/base.njk
heading: Gabrielle von Koss
---
<div class="text">
	<p>Hi there 👋 I'm Gabi.</p>
	<p>I'm half caffeine, half human; I split most of my time between making physical and digital things.</p>
	<p>By day, I'm a web developer. Depending on the task at hand, I like to work with vanilla JS, React, CSS, SCSS and semantic HTML. Over the years I've learned a lot about accessibility, and I work hard on that, too.</p>
	<p>Right now I live in Barcelona, Spain.</p>
</div>
