@import 'variables';
@import 'shared';

:root {
  --grid-square: 100px;
}

body {
  height: 100%;
}

.four-oh-four {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}

p { 
  width: 50%;
  align-self: center;
}

img {
  align-self: center;
}
