@media (min-width: 675px) {
  :root { 
    --grid-columns: 8; 
    --grid-rows: 7;
  }
  
  body { 
    background-color: var(--dark-background)
  }
  
  .about-text {
    grid-area: 3 / 3 / auto / span 5;
    border-width: var(--border-bottom-right);
    align-self: flex-start;
  }

  .pixel {
    &-grid { 
      grid-template-rows: 1fr repeat(var(--grid-rows), var(--grid-square)) 1fr;
    }

    &-me {
      background-color: transparent;
      grid-area: 2 / 1 / span 2 / span 2;
      border: var(--border);
      border-width: var(--border-bottom-right);
      box-sizing: border-box;
    }

    &-twitter { 
      grid-area: 2 / 3; 
    }
    
    &-github { 
      grid-area: 2 / 4; 
    }
    
    &-youtube { 
      grid-area: 2 / 5; 
    }
    
    &-medium { 
      grid-area: 2 / 6; 
    }
    
    &-1 { 
      grid-area: 1 / 1 / -1 / span 2;
      border-width: var(--border-left);
    }
    
    &-2 { 
      grid-area: 2 / 3 / auto / -1;
      border-width: var(--border-bottom);
    }
    
    &-3,
    &-4 {
      display: none;
    }
  }
}
