@media (min-width: 800px) {
  :root { 
    --grid-columns: 10; 
    --grid-rows: 8;
  }

  .about-text {
    grid-area: 3 / 3 / span 6 / span 6;
    align-self: flex-start;
    border: var(--border);
  }

  .pixel {
    &-me {
      grid-area: 5 / 1;
      border: 0;
    }
    
    &-twitter { 
      grid-area: 3 / -3;
    }
    
    &-github { 
      grid-area: 3 / -2;
    }
    
    &-youtube { 
      grid-area: 4 / -3;
    }
    
    &-medium { 
      grid-area: 4 / -2;
    }
    
    &-1 { 
      grid-area: 1 / 1 / span 4 / span 2;
      border-width: var(--border-bottom);
    }
    
    &-2 {
      grid-area: 5 / -3 /  -1 / span 2;
      border-width: var(--border-top);
    }
    
    &-3,
    &-4 {
      display: none;
    }
  }
}
