.links {
	// align-self: flex-start;
	// justify-self: flex-start;
	grid-area: 4 / 2 / 4 / 4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	width: 100%;
	// display: block;
	// @media (min-width: 400px) {
	// 	grid-area: 4 / 2;
	// 	a { 
	// 		display: block;
	// 		margin-bottom: 8px;
	// 	}
	// }
	
	// @media (min-width: 800px) {
	// }
}

a {
	@include shadow(6px);
	color: inherit;
	border: var(--border);
	background-color: white;
	// display: inline-block;
	// display: block;
	// margin: 0 8px 10px 0;
	min-width: 38%;
	padding: 10px;
	position: relative;
	text-decoration: none;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 100%;
		text-align: right;
		transition: right .3s ease-in-out;
		background-color: var(--color);
	}
	
	&:hover {
		color: transparent;
		&:before {
			padding: 10px;
			color: var(--textColor);
			right: 0;
		}
	}
}

a[href*="twitter"]:hover:before { content: 'Tweeting' }
a[href*="medium"]:hover:before { content: 'Writing' }
a[href*="youtube"]:hover:before { content: 'Speaking' }
a[href*="github"]:hover:before { content: 'Coding' }
