@import url('https://fonts.googleapis.com/css?family=Abel');

html { 
	height: 100vh;
}

body {
	color: var(--textColor);
	background: var(--dark-background);
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	height: 100%;
	margin: 0;
}

@mixin shadow($spacing: 8px) {
	background-color: white;
	border: var(--border);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		background-color: var(--outlineColor);
		top: $spacing;
		left: $spacing;
		right: -#{$spacing};
		bottom: -#{$spacing};
		z-index: -1;
	}
}
