@import url('https://fonts.googleapis.com/css?family=Abel');
:root {
  --highlightColor: #d4f4e7;
  --baseColor: #93d3ba;
  --border: 2px solid var(--baseColor);
  --textColor: #679482;
}
@mixin hoverBox() {
  &::after {
    content: '';
    position: absolute;
    background-color: var(--baseColor);
    top: 10px;
    left: 10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
  }
}
body, html {
  margin: 0;
  height: 100%;
  font-family: 'Abel', sans-serif;
  color: var(--textColor);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 20% minmax(auto, 65ch) 1fr;
  grid-gap: 20px;
  height: 100%;
  background-image: radial-gradient(at center center, var(--baseColor) 45%, transparent 15%);
  background-size: 4px 4px;
  font-size: 18px;
}

.pixel-me {
  @include hoverBox();
  grid-column: 2;
  background-image: url('../images/pixelme.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--highlightColor);
  border: var(--border);
  align-self: flex-end;
  justify-self: flex-end;
  height: 20vw;
  width: 20vw;
  max-height: 200px;
  max-width: 200px;
  position: relative;
}

.heading {
  @include hoverBox();
  grid-column: 3;
  align-self: flex-end;
  background-color: white;
  border: var(--border);
  padding: 5px 10px;
  margin: 0;
  position: relative;
  text-align: center;
  width: max-content;
}

.links {
  grid-column: 2;
  align-self: flex-start;
}

a {
  @include hoverBox();
  padding: 20px;
  margin: 0 0 20px;
  border: var(--border);
  background-color: white;
  text-decoration: none;
  padding: 10px;
  color:var(--textColor);
  display: block;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 100%;
    transition: right .3s ease-in-out;
    background-color: var(--highlightColor);
    text-align: right;
  }
  
  &:hover {
    color: transparent;
    &:before {
      padding: 10px;
      color: var(--textColor);
      right: 0;
    }
  }
}

a[href*="twitter"]:hover:before { content: 'Tweeting' }
a[href*="medium"]:hover:before { content: 'Writing' }
a[href*="youtube"]:hover:before { content: 'Speaking' }
a[href*="github"]:hover:before { content: 'Coding' }

.text {
  @include hoverBox();
  grid-column: 3;
  align-self: flex-start;
  padding: 20px;
  border: var(--border);
  background-color: white;
  position: relative;

  p:first-child {
    margin-top: 0
  }

  p:last-child {
    margin-bottom: 0;
  }
}