@use './mixins';
@use './media-queries';

$_spacing: 1rem;

.content--about {
  h2 {
    @include mixins.shadow();
    padding: 0 $_spacing;
    margin-top: 0;
    display: inline-block;
  }

  .content--about__personal {
    @include mixins.shadow();
    padding: mixins.spacing(1);
    margin-bottom: mixins.spacing(3);
  }
}

.content__list--about {

  .content__list__item__details {
    position: relative;

    summary {
      @include mixins.shadow();
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      padding: mixins.spacing(0.5) mixins.spacing(0.8);
      margin: 0 0 mixins.spacing(0.8);

      &::marker { content: '' };

      &:before {
        content: '';
        display: block;
        border: var(--border);
        border-top: 0;
        border-left: 0;
        height: mixins.spacing(1);
        width: mixins.spacing(1);
        transform: rotate(45deg);
        position: absolute;
        right: mixins.spacing(1);
        bottom: mixins.spacing(1);
        transition: all .3s ease;
      }

      h3 {
        margin: 0 0 mixins.spacing(0.4);
        flex: 0 0 100%;
      }

      a { margin-left: mixins.spacing(0.6) };
    }

    &[open] {
      summary:before {
        transform: rotate(-135deg);
        bottom: mixins.spacing(0.5);
      }
    }
  }

  .content__list__item__section {
    ul {
      list-style-type: none;
      display: flex;
      flex-wrap:wrap;
      justify-content: flex-start;
      padding-left: 0;

      li {
        @include mixins.shadow();
        font-size: var(--font-md);
        margin: 0 mixins.spacing(0.5) mixins.spacing(0.8) 0;
        padding: mixins.spacing(0.2) mixins.spacing(0.5);
        text-transform: uppercase;
        white-space: nowrap;
      }
    }

    div {
      @include mixins.shadow();
      padding: mixins.spacing(0.5) mixins.spacing(0.8);
    }
  }
}
