.controls {
	align-self: flex-end;
	grid-area: 2 / 3;

	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 10px;

	label {
		@include shadow(5px);
		cursor: pointer;
		display: none;
		justify-self: flex-end;
		padding: 6px;
		width: max-content;
		
		input {
			--webkit-appearance: none;
			border: none;
			cursor: inherit;
			height: 24px;
			margin-left: 6px;
			padding: 0;
			width: 24px;
			vertical-align: top;
		}
	}

	
	button {
		@include shadow(6px);
		color: var(--text);
		cursor: pointer;
		font-size: inherit;
		font-family: inherit;
		padding: 4px 10px;
		max-height: 40px;
		width: max-content;
	}
	
	#highlight { grid-area: 1 / 1}
	#outline { grid-area: 2 / 1}
	#text { grid-area: 3 / 1}
	#grayscale { grid-area: 1 / 1 }
	#random { grid-area: 2 / 1 }
	#reset { grid-area: 3 / 1 }

	@include layoutS() {
		label {
			display: block;
		}

		#grayscale { grid-area: 1 / 2 }
		#random { grid-area: 2 / 2 }
		#reset { grid-area: 3 / 2 }
	}
}
