@use './mixins';
@use './media-queries';

.content {
  @include mixins.mainColumn();
	min-width: 250px;
	line-height: 1.6;
  
  &--text {
    @include mixins.shadow();
    padding: 1rem;
  }

  .details {
    margin-bottom: 0.8rem;
  }

	p {
		&:first-of-type { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}

	iframe {
		border: var(--border);
		box-sizing: border-box;
		width: 100%;
	}

	img {
		width: 100%;
	}
}