@use './mixins';
@use './media-queries';

.content {
  align-self: flex-start;
	grid-area: content;
  min-width: 30ch;
  line-height: 1.6;

  &.content--text {
    @include mixins.shadow();
    padding: 1rem;
    margin-top: 0;
  }

  .details {
    margin-bottom: 0.8rem;
  }

	p {
		&:first-of-type { margin-top: 0; }
		&:last-child { margin-bottom: 0; }
	}

	iframe {
		border: var(--border);
		box-sizing: border-box;
		width: 100%;
	}

	img {
		width: 100%;
	}
}