.grid {
	display: grid;
	grid-template-columns: 1fr repeat(2, auto) 1fr;
	grid-template-rows: repeat(6, auto);
	grid-gap: 20px;

	min-height: 100vh;
	background-image: radial-gradient(at center center, var(--outlineColor) 45%, transparent 15%);
	background-size: 4px 4px;
	box-sizing: border-box;
	
	@include layoutS() {
		grid-template-columns: 1fr 20% minmax(auto, 65ch) 1fr;
		padding-bottom: 20px;
	}
}