@use './media-queries';

.grid {
  display: grid;
  grid-template-areas:
    '. me controls .'
    '. heading heading .'
    '. content content .'
    '. sidebar sidebar .';
	grid-template-columns: 1fr repeat(2, auto) 1fr;
	grid-template-rows: repeat(6, auto);
	grid-gap: 1.5rem;

	min-height: 100vh;
	background-image: var(--background);
	background-size: 4px 4px;

	@media screen and (prefers-reduced-motion) {
		background-image: var(--none);

		.background {
			display: var(--none);
		}
	}

	box-sizing: border-box;

	@include media-queries.S() {
    grid-template-areas: 
      '. . . .'
      '. me controls .'
      '. me heading .'
      '. sidebar content .'
      '. . . .';
		grid-template-columns: 1fr 15% minmax(auto, 70ch) 1fr;
		padding-bottom: 1rem;
	}
}