.details {
	display:  none;

	@include layoutS () {
		@include shadow(6px);
		display: block;
		grid-area: 2 / 3;
		align-self: flex-end;
		justify-self: flex-start;
		padding: 5px;
	}
}

.heading {
	@include shadow(6px);
	align-self: center;
	justify-self: center;
	grid-area: 3 / 2 / 4 / 4;
	margin: 0;
	padding: 10px;
	text-align: center;
	max-width: 520px;
	
	@include layoutS() {
		grid-area: 3 / 3;
		align-self: flex-end;
		justify-self: flex-start;
		width: max-content;
	}
}

h3 {
	margin: 0;

	& + span {
		margin-bottom: 10px;
	}
}
