.heading {
	@include shadow(6px);
	align-self: center;
	justify-self: center;
	grid-area: 3 / 2 / 4 / 4;
	margin: 0;
	padding: 10px;
	text-align: center;
	width: max-content;

	@include layoutS() {
		grid-area: 3 / 3;
		align-self: flex-end;
		justify-self: flex-start;
	}
}