a {
	color: inherit;

	&:hover {
		text-decoration-style: double; 
	}
}

.links {
	grid-area: 4 / 2 / 4 / 4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	width: 100%;
	
	@include layoutS() {
		display: block;
		grid-area: 4 / 2;
		align-self: flex-start;
		position: sticky;
		top: 10px;

		a {
			display: block;
			margin-bottom: 8px;
		}
	}

	a {
		@include shadow(6px);
		color: inherit;
		min-width: 38%;
		padding: 10px;
		text-decoration: none;
		align-self: center;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 100%;
			text-align: right;
			transition: right .3s ease-in-out;
			background-color: var(--color);
		}
		
		&:hover {
			color: transparent;
			&:before {
				padding: 10px;
				color: var(--textColor);
				right: 0;
			}
		}
	}
	
	a[href*="twitter"]:hover:before { content: 'Tweeting' }
	a[href*="medium"]:hover:before { content: 'Writing' }
	a[href*="youtube"]:hover:before { content: 'Speaking' }
	a[href*="github"]:hover:before { content: 'Coding' }
}

