.list {
	grid-area: 5 / 2 / 5 / 4;
	align-self: flex-start;
	justify-self: flex-start;
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 250px;

	@include layoutS {
		grid-area: 4 / 3;
	}
	
	.list-item {
		@include shadow(6px);
		padding: 10px;
		margin-bottom: 10px;

		span {
			font-size: 16px;
			float: right;
		}

		p {
			margin: 4px 0 0;
			clear: both;
		}

		a {
			font-size: 24px;
			font-weight: 600;
			text-decoration: none;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 100%;
				right: 0;
				transition: bottom .3s ease-in-out;
				background-color: var(--color);
			}
			
			&:hover {
				cursor: pointer;
				&:before {
					content: attr(data-list-item);
					bottom: 0;
					padding: 10px;
					font-size: 24px;
					font-weight: 600;
				}
			}
		}
	}
}