.list {
	grid-area: 5 / 2 / 5 / 4;
	align-self: flex-start;
	justify-self: flex-start;
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 250px;

	@include layoutS {
		grid-area: 4 / 3;
	}
	
	.list-item {
		@include shadow(6px);
		padding: 10px;
		margin-bottom: 10px;

		span {
			font-size: 16px;
			float: right;
		}

		p {
			margin: 4px 0 0;
			clear: both;
		}

		a {
			@include animatedLink('bottom');
			font-size: 24px;
			font-weight: 600;
		}
	}
}