ul {
	@include mainColumn();
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 100%;
}
	
li {
	@include shadow(6px);
	padding: 10px;
	margin-bottom: 10px;
	
	&:last-of-type { margin: 0;}
	
	span {
		display: block;
		font-size: 16px;
	}

	p {
		margin: 4px 0 0;
	}

	a {
		@include animatedLink('bottom');
		font-size: 24px;
		font-weight: 600;
	}
}