@use './mixins';
@use './media-queries';

#pixel-me {
	@include mixins.shadow();
	align-self: flex-end;
	grid-area: 2 / 2;
	background-image: url('../images/pixelme.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: var(--highlight);
	box-sizing: border-box;
	justify-self: flex-end;
	height: 36vw;
	width: 36vw;
	max-height: 11rem;
	max-width: 11rem;

	&:hover {
		background-image: url('../images/pixelme-tongue.png');
	}
}

.no-js #pixel-me {
	grid-area: 2 / 2 / 3 / 4;
	justify-self: center;
}

@include media-queries.S() {
	.no-js #pixel-me,
	#pixel-me {
		grid-area: 2 / 2 / 4;
		justify-self: flex-end;
		height: 20vw;
		width: 20vw;	
	}
}