@use './mixins';
@use './media-queries';

$_icon-size: 15vw;

#pixel-me {
  @include mixins.shadow();
  align-self: flex-end;
  grid-area: me;
  background-image: url('../assets/images/pixelme.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--highlight);
  box-sizing: border-box;
  justify-self: flex-end;
  height: $_icon-size * 2;
  width: $_icon-size * 2;
  max-height: 10rem;
  max-width: 10rem;

  &:hover {
    background-image: url('../assets/images/pixelme-tongue.png');
  }
}

@include media-queries.fromM() {
  #pixel-me {
    justify-self: flex-end;
    height: $_icon-size;
    width: $_icon-size;
    max-height: 12rem;
    max-width: 12rem;

  }
}