@mixin position($level) {
  $value: if($level == 'middle', -2, -3);

  position: absolute;
  top: calc(var(--border-width) * $value);
  bottom: calc(var(--border-width) * $value);
  left: calc(var(--border-width) * $value);
  right: calc(var(--border-width) * $value);
}
