// .text {
// 	.location {
// 		border: var(--border);
// 		display: inline-block;
// 		padding: 5px 10px;
// 	}
// }

.details {
	@include shadow(6px);
	grid-area: 2 / 3;
	align-self: flex-end;
	justify-self: flex-start;
	padding: 5px;
}