.text {
	@include shadow(6px);
	align-self: flex-start;
	justify-self: flex-start;
	grid-area: 5 / 2 / 5 / 4;
	min-width: 250px;
	padding: 20px;

	@include layoutS {
		grid-area: 4 / 3;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}