@use './mixins';

.timeline {
  @include mixins.mainColumn();
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 2rem;

  &:before {
    content: '';
    border: var(--border);
    position: absolute;
    top: 0;
    left: 0.6rem;
    bottom: 6.5rem;
  }

  .list-item {
    margin-bottom: 3rem;
    position: relative;

    &::before {
      content: '';
      background-color: var(--highlight);
      border: var(--border);
      display: inline-block;
      height: 1rem;
      width: 1rem;
      position: absolute;
      left: -2rem;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      background-color: var(--outline);
      height: 1.2rem;
      width: 1.2rem;
      left: -1.8rem;
      top: 0.2rem;
      z-index: -1;
    }
  }

  .date {
    @include mixins.shadow();
    padding: 0.4rem;
    margin: 0 0 0.6rem;
    text-transform: uppercase;
    font-size: 16px;
    width: max-content;
  }

  h3 {
    @include mixins.shadow();
    padding: 0.8rem;
    margin: 0 0 0.6rem;
    width: max-content;
  }

  .stack {
    display: flex;
    margin-bottom: 0.6rem;
    span {
      @include mixins.shadow();
      padding: 0.2rem 0.4rem;
      text-transform: uppercase;
      margin-right: 0.5rem;
      font-size: 16px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .content {
    @include mixins.shadow();
    padding: 0.8rem;

    p {
      margin-top: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

}