@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400&display=swap');

:root {
  --slice: 10vw;
  --radius: 0.25em 0 0 0.25em;
}

body {
  font-family: 'Domine', 'Gill Sans', serif;
  display: grid;
  grid-template-columns: 20vw repeat(3, 3px) auto;
  grid-template-rows: repeat(3, auto);
  margin: 0;
  height: 100vh;
}

header {
  grid-column: 1;
  grid-row: 1;
  border-right: 2px solid black;
}

a {
  color: black;
  text-decoration: none;
  outline: none;
}

hr {
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: black;
  border: 0;
  width: 3px;
  margin: 0;
  justify-self: flex-end;

  &:nth-of-type(2) {
    grid-column: 2;
    background-color: yellow;
  }

  &:nth-of-type(3) {
    grid-column: 3;
    background-color: magenta;
  }

  &:nth-of-type(4) {
    grid-column: 4;
    background-color: cyan;
  }
}

nav {
  grid-column: 1;
  grid-row: 2;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    list-style-type: none;

    li {
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        display: block;
      }

      &:before {
        top: -8px;
        bottom: -8px;
        left: -8px;
        right: -12px;
        border-radius: 0.5em 0 0 0.5em;
      }

      &:after {
        top: -11px;
        bottom: -11px;
        left: -11px;
        right: -13px;
        border-radius: 0.75em 0 0 0.75em;
      }

      padding: 8px 16px;
      margin: 5px 0;
      border-radius: var(--radius);
      text-align: right;
      border: 2px solid black;
      border-right-width: 6px;

      &:hover,
      &:focus-within {
        outline: 3px solid yellow;
        // outline-offset: 3px;

        &:before {
          border: 3px solid magenta;
          border-right: none;
        }

        &:after {
          border: 3px solid cyan;
          border-right: none;
        }
      }
    }
  }
}

main {
  grid-column: 5;
  grid-row: 1 / -1;
  box-sizing: border-box;
  padding: 8px;
  height: 100vh;
  overflow: scroll;
  // border-left: 3px solid cyan;
  position: relative;

  // &:after,
  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }

  // &:after {
  //   border-left: 3px solid magenta;
  // }

  // &:before {
  //   border-left: 3px solid yellow;
  // }
}

p:last-of-type {
  margin-bottom: 0;
}
