@use './about';
@use './content';
@use './controls';
@use './fonts' as *;
@use './grid';
@use './heading';
@use './list';
@use './me';
@use './sidebar';

:root {
	--highlight: #d1fff3;
	--outline: #21d19f;
	--text: #0f624b;
	--border: 2px solid var(--outline);
	--dotted: radial-gradient(at center center, var(--outline) 30%, transparent 15%);
	--striped: repeating-linear-gradient(
			90deg, 
			var(--outline), 
			var(--outline) 1px, 
			transparent 1px, 
			transparent 10px);
	--background: var(--dotted);
  --font-lg: 20px;
  --font-md: 16px;
}

html { 
	min-height: 100%;
}

body {
	color: var(--text);
	background: var(--dark-background);
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: var(--font-lg);
	min-height: 100vh;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	
	a {
		color: inherit;
	
		&:hover {
			text-decoration-style: double; 
		}
	}

	code {
		background-color: var(--highlight);
		font-family: 'Fira Mono', monospace;
		font-size: var(--font-md);
		padding: 2px 4px;
	}

	pre {
		background-color: var(--highlight);
		padding: 10px;
		white-space: pre-wrap;

		code {
			padding: 0;
		}
	}

	blockquote {
		margin: 0;
		padding-left: 10px;
		border-left: var(--border);
	}
}